/* racing.less */
/* colors.less */
/* fonts.less */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syncopate/v24/pe0pMIuPIYBCpEV5eFdKvtKaAw.ttf) format('truetype');
}
/* universal reset */
* {
  box-sizing: border-box !important;
  transition: ease all 0.5s;
}
/* BODY */
body {
  width: 100%;
  height: 100%;
  color: #706666;
  font-family: 'Poppins', sans-serif;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}
.racing_shoes {
  background-color: #eae7e7;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Page title */
.collection_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 3em;
  background-color: #cf434f;
  padding: 30px 0px;
}
/* Main about section */
.about_main {
  width: 100%;
  float: left;
}
.about_main .collection_section {
  width: 100%;
  float: left;
  margin-top: 40px;
}
.about_main .collection_section .container {
  width: 100%;
}
.about_main .collection_section .container .new_text {
  width: 100%;
  float: left;
  font-size: 2em;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 22px;
}
.about_main .collection_section .container .consectetur_text {
  width: 100%;
  float: left;
  font-size: 1.2em;
  color: #706666;
  font-weight: 400;
  margin-left: 0px;
  padding-bottom: 30px;
}
.about_main .collectipn_section_3 {
  width: 100%;
  float: left;
  padding-top: 0px;
}
.about_main .collectipn_section_3 .container {
  width: 100%;
}
.about_main .collectipn_section_3 .container .racing_shoes {
  width: 100%;
  float: left;
  background-color: #eae7e7;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.about_main .collectipn_section_3 .container .racing_shoes .shoes-img3 {
  width: 100%;
  float: left;
  text-align: center;
}
.about_main .collectipn_section_3 .container .racing_shoes .shoes-img3 img {
  width: 70%;
  margin-top: 4em;
}
.about_main .collectipn_section_3 .container .racing_shoes .sale_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  font-size: 3em;
  background-color: #cf434f;
  padding: 30px 0px;
}
.about_main .collectipn_section_3 .container .racing_shoes .number_text {
  width: 100%;
  float: left;
  font-size: 3em;
  color: #cf434f;
  line-height: 75px;
}
.about_main .collectipn_section_3 .container .racing_shoes .seemore {
  width: 50%;
  height: 50px;
  color: #ffffff;
  background-color: #cf434f;
  font-size: 1.2em;
  text-align: center;
  border: none;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
}
/* Footer */
.copyright {
  width: 100%;
  float: left;
  color: #ffffff;
  background-color: #cf434f;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
